<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4">
      <i class="icon-2x text-dark-50 flaticon-file-1 mx-2"></i> Editar Categoría: {{ categorie_selected.title }}
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <div class="grid grid-cols-10 gap-4">
      <div class="col-span-10 md:col-span-6">
        <div class="form-group">
          <label class="block">Nombres de categoría: <span class="text-red-600">*</span></label>
          <input type="text" class="form-input w-full" placeholder="" [(ngModel)]="name" name="name">
          <span class="text-gray-500">Ingresa el nombre de la categoría.</span>
        </div>
      </div>
      <div class="col-span-10 md:col-span-4">
        <label class="block">Estado de categoría: <span class="text-red-600">*</span></label>
        <select class="form-select w-full" name="status" [(ngModel)]="state">
          <option value="1">Activo</option>
          <option value="2">Inactivo</option>
        </select>
      </div>
      <div class="col-span-10">
        <label class="block">Sube tu imagen: <span class="text-red-600">*</span></label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="processFile($event)">
          <label class="custom-file-label" for="customFile">Seleccionar archivo</label>
        </div>
        <div class="col-span-12">
          <div class="" *ngIf="imagen_previzualizacion">
            <img [src]="imagen_previzualizacion" class="w-24" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-elevate mr-2" (click)="save()">
        Confirmar
      </button>
      <button type="button" class="btn btn-light btn-elevate mr-2">
        Cancelar
      </button>
    </div>
  </div>
</div>